<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/service">Services</a>
    <a href="/contact">Contact</a>
  </nav>
  
  <h1>bienvenu</h1>
  
  <p>ajouter du contenu</p>

</body>
</html>
