<!DOCTYPE html>
<html>
<head>
  <title>Our Services</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/service">Our Services</a>
    <a href="/contact">Contact Us</a>
  </nav>
  
  <h1> Services</h1>
  
  <p>ajouter du service </p>
</body>
</html>
